<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/test-automation-workspace/nimble-tree-system-tests">
        <classes>
            <class name="com.firebaseapp.tests.HomePageTests"></class>
            <class name="com.firebaseapp.tests.LoginTests"></class>
            <class name="com.firebaseapp.tests.ApiKeyTests"></class>
            <class name="com.firebaseapp.tests.DashboardTests"></class>
        </classes>
    </test>
</suite>